/* Reseteo de mi CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

/* Estilos y ubicación de elementos del encabezado */

    background-color: coral;
    color: white;
    padding: 16px;

/* Activación de FlexBox */

    display: flex;

/* Dirección de los elementos en filas */

    flex-direction: row;

/* Multilinea para diseños responsive */

    flex-wrap: wrap;

/* Distribución Eje Principal */

    justify-content: space-between;

/* Distribución Eje Secundario */

    align-items: center;
}

/* Estilos y ubicación de elementos de la lista */

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

h1 {
    color: blue;
}

main h3 {
    color: darkblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.titulos-principales {
    color: green;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


p {
    color: brown;
    background-color: yellow;
    font-size: 1rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-end;
    gap: 16px;
}

main .secciones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
}

h5 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: start;
    gap: 16px;
}

article img {
    max-width: 320px;
    min-width: 260px;
} 

/* Utilzación de las funciones de grids */

main .secciones-estadisticas and .seccion-inicio{
    display: grid;
    grid-template-rows: repeat (4,25%);
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    gap: 16px;
}

/* Modificación del código para hacer dos páginas html responsive */

@media (min-width: 768px) {
    main .secciones-estadisticas and .seccion-inicio {
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
    }
}

@media (min-width: 1024px) {
    main .secciones-estadisticas and .seccion-inicio {
    grid-template-columns: repeat (2,50%);
    grid-template-rows: 2fr;
    }
}
