*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media (min-width: 768px) {
    main .secciones-estadisticas,
    main .seccion-inicio {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 16px;
     }
     nav ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
}

@media (min-width: 1024px) {
    main .secciones-estadisticas {
        display: grid;
        grid-template-rows: 300px 300px;
        grid-template-columns: 500px 500px;
        align-items: center;
        justify-items: center;
        gap: 16px;
        }
        nav ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            gap: 16px;
        }

 }
//Utilización de mixins//

@mixin flex-box($color) {
    color: $color;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 }

h3 {
    @include flex-box(darkblue)
 }

.titulos-principales {
    @include flex-box(black)
}

@keyframes mover-izquierda-derecha {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(200px);
    }
 }