$color-principal: black;

header {
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;    
    justify-content: space-between;    
    align-items: center;
    color: white;
    padding: 16px;

.logo {
        display: flex;
        align-items: center;

.logo img {
            width: 300px;
            height: 300px;
            display: flex;
            justify-content: start;
        }
nav {
    display: flex;

    ul{
    list-style: none;
    flex-direction: column;
    gap: 16px;

    li{
        text-decoration: none;
        padding: 16px;

    a {
        text-decoration: none;
        color: $color-principal;
        font-weight: 600;
        color: brown;
        }

    a:hover {
            color: darkblue;
    
    body .imagen-fondo {
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
            background-size: cover;
            font-family: sans-serif;
            max-width: 500px;
            min-width: 500px;
        }
    }        
    } 
   }        
  }
 }        
}

main {
    section {
        .seccion-inicio {
                display: grid;
                grid-template-rows: repeat(4,60vh);
                grid-template-columns: 1fr;
                align-items: center;
                justify-items: center;
                gap: 16px;
            }
            h2 .titulos-principales {
                color: white;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                animation: mover-izquierda-derecha 2s 1;
                animation-fill-mode: forwards;
            }


            }
        .secciones-estadisticas {
                display: grid;
                grid-template-rows: repeat(4,60vh);
                grid-template-columns: 1fr;
                align-items: center;
                justify-items: center;
                gap: 16px;
            }
            h3 {
            color: darkblue;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        .secciones {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            gap: 16px;
        }
            p {
            color: black;
            font-size: 1rem;
            text-align: center;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 16px;
            }
         }

footer {
    h5 {
        display: flex;
        color: white;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        gap: 16px;
        margin-top: 16px;
    }
    ul {
        list-style: none;
        display: flex;
        color: darkblue;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
        gap: 16px;
        padding: 8px;
    }
}